doctype html
html(lang="en")
	head
		title= "Michael Tseng"
		block meta
			meta(charset="UTF-8")
		block stylesheet
			link(rel='stylesheet', href='/css/global.css')
	body
		div(class="navbar")
			a(href="/")
				div(class="navbar-site-icon")= "[home]"
			div(class="navbar-items-wrapper")
				ul(class="navbar-items")
					li(class="navbar-item")
						a(href="/process")
							div(class="navbar-item-text")= "Process"
					li(class="navbar-item")
						a(href="/work")
							div(class="navbar-item-text")= "Work"
					li(class="navbar-item")
						a(href="#")
							div(class="navbar-item-text")= "Contact"

		block content

