extends base

append stylesheet
	link(rel='stylesheet', href='/css/index.css')

block content
	div(class="content-main")
		h1= title
		hr(class="hr-title")
		h3= "UX Designer"

		div(class="icon icon-stand-in")

		div(class="quote")= "“One should aim not at being possible to understand, but at being impossible to misunderstand” - Quintilian"

		p="Hi there!  I’m an UX Designer based in Santa Monica, CA.  I enjoy making nice things and making things nice.  Coming from a sales and business development background, let me help you tell your story and bridge the gap between the business and creative world."
		p="Learn a bit more about my UX process or take a look at some work I’ve done."

		div(class="content-main-icons")
			div(class="icon icon-process")
				div= "My Process"
			div(class="icon icon-work")
				div= "My Work"



